.categories-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  @media only screen and (max-width:1023px) {

    .categories-container {
      flex-direction: column;
    }
    
  }